* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
   --dark:black;
   --medium: gray;
   --light: white;
   --cuasi: rgb(48, 43, 43);
}

.h1 {
   background-color: var(--cuasi);
   color: var(--light);
   text-align: center;
   padding: 5%;
   width: 100%;
}

#logoCarrito {
    padding-top: 6%;
    text-align: right;
}

.tablacont {
    border-collapse: collapse;
}

.tablacont th, .tablacont td {
   border-bottom: 1px solid var(--dark);
   padding: 8px;
   text-align: center;
}

.tablacont th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#formulario {
    margin: auto;
    padding: 10px;
    padding-left: 10%;
    text-align: center;
  }

  body{
 
    background: var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.box{
    position: relative;
}

.input {
    padding: 5px;
    width: 40px;
    height: 40px;
    background: none;
    border: 4px solid var(--medium);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: var(--light);
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: var(--dark);
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: var(--dark);
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
