* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --dark: black;
    --medium: gray;
    --light: white;
    --cuasi: rgb(48, 43, 43);
    --rojo: red;
}


i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--light);
}

.nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: var(--cuasi);
    color: var(--light);
    padding: 25px 60px;
    margin-bottom: 30px;
}

.carrito {
    position: relative;
    background-color: var(--light);
    color: var(--cuasi);
    font-size: 30px;
    padding: 3px;
    border-radius: 2px;
}

.totalcarrito {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: var(--rojo);
    color: var(--light);
    padding: 3px;
    border-radius: 3px;
}


.productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
}

.ocultar {
    display: none;
}

@media (min-width: 768px) {  
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .productos {
        grid-template-columns: repeat(4, 1fr);
    }
}


.toggle {
    border-collapse: collapse;
    width: 100%;
}

.toggle th, .toggle td {
    border: 1px solid black;
    padding: 8px;
}

.toggle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}