* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --dark: black;
    --medium: gray;
    --light: white;
    --cuasi: rgb(48, 43, 43);
    --rojo: red;
}


i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--light);
}

.nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: var(--cuasi);
    color: var(--light);
    padding: 25px 60px;
    margin-bottom: 30px;
}

.carrito {
    position: relative;
    background-color: var(--light);
    color: var(--cuasi);
    font-size: 30px;
    padding: 3px;
    border-radius: 2px;
}

.totalcarrito {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: var(--rojo);
    color: var(--light);
    padding: 3px;
    border-radius: 3px;
}


.productos {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .productos {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .productos {
        grid-template-columns: repeat(1, 223px);
    }
}

